* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  /*width: 80vw; */
  width: 90%;
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  
}

.titulo {
  margin: auto;
  font-size: 50px;
  text-align: center;
  

}

.box {
  padding: 10px;
  margin: 0 10px 100px 100px;
  margin-left: 50px ;
  margin-right: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 500 px !important;
  height: 550px;
  
  
}

.btn {
  border: 0;
  color: white;
  background-color: blue;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 0.5em;
  font-family: inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  height: 35px;
  width: 150px;
  border-radius: nullpx; 
 
  

}

textarea  {
  padding: 100px;
  margin-top: 50px;
  width: 99%;
  height: 400px;
  text-align: center;
  font-family: inter;
  font-size: 14px;
}


.logo-alura{
height: 48px;
width: 31.085588455200195px;
left: 44px;
top: 10px;
border-radius: 0px;
position: absolute;
left: 100px;

}



#texto{

  margin-top: 50px;
}

#btn-copy{

  color:white;
  margin-left:165px;
  background-color:blue;
}

h2{
  text-align: center;
}



.muñeco{
  margin:10px auto;
  display:block;
  padding-top:100px ;
}
.frase{
  text-align: center;
  font-size: 50px;
  font-family: "Roboto Mono","Courier New",monospace;
}


#frase-1{
  color: #555D64;
  margin-top: 100px;
}

#frase-2{
  color: #58A25E;
  
}

#frase-3{
  color: #555D64;
  text-align: center;
  font-size: 17px;
  font-family: 'Open Sans',Arial,sans-serif;
  
}


.logo-oracle{
  height: 50px;
  width: 150x;
  right: 44px;
  top: 10px;
  border-radius: 0px;
  position: absolute;
  right: 100px;
  
  }

footer{

  margin-top: 100px;
  margin-bottom:30px;
  text-align: center;
  font-weight: bold
}

.repositorio{
  padding-bottom:10px;
  
}

.msg{

  width: 1000px !important;
}

#github{

  height: 50px;
  border-radius: 60px;
  margin-top: 15px;
}